.footer {
  background-color: $secondary;
  padding: $spacer;

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    > ul {
      list-style: none;
      margin: 0;

      padding-left: 0;

      > li {
        padding: $spacer;

        @include media-breakpoint-up(md) {
          display: inline;
        }
      }

      &.social-links {
        > li {
          display: inline-block;
        }
      }
    }
  }
}