// icon icon
.icon-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .icon-button {
    background: transparent;
    border: none;
    font-size: 0;
    display: flex;
    align-items: center;
    height: 100%;
    outline: none;

    svg {
      path, polyline {
        stroke: $gray-600;
      }
    }

    &:hover,
    &:focus {
      svg {
        path, polyline {
          stroke: $gray-800;
        }
      }
    }
  }
}