
// navbar
.navbar-text {
  margin-right: 1em;
}

.navbar {
  display: flex;
  flex-direction: row;

  & + .navbar {
    padding-top: 0;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    white-space: nowrap;
  }

  .nav-item {
    white-space: nowrap;

    padding: 0 $spacer 0 0;

    @include media-breakpoint-up(md) {
      padding: 0 map-get($spacers, 5) 0 0;
    }

    &--no-padding {
      padding: 0;
    }
  }

  .nav-no-link {
    padding: $nav-link-padding-y $nav-link-padding-x;
    display: block;
  }

  &.navbar-first-level {
    justify-content: space-between;
  }

  &.navbar-second-level {
    overflow-y: auto;

    padding-bottom: 0.1em;

    @include media-breakpoint-up(sm) {
      justify-content: center;
    }

    .nav-item {
      &.active {
        .nav-link {
          border-bottom: 3px solid $body-color;
        }
      }
    }
  }
}
