.player-stats-table {
  table-layout:fixed;
  width: 100%;

  td {
    width: 100vw; // will space the columns evenly with 'tabel-lyout: fixed'
  }

  th {
    font-weight: $font-weight-normal;
  }

}