// variable overrides
@import '~bootstrap/scss/functions';
@import 'variables';

@import '~bootstrap/scss/bootstrap';

// Overrides
.dropdown-toggle-none {
  &:after,
  &:before {
    display: none !important;
  }
}

.custom-control {
  &.custom-checkbox {
    display: inline-block;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
  }
}

.carousel-caption {
  background-color: rgba(256, 256, 256, 0.8);
}