
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.timeseries-chart {
  stroke-width: 0.1em;
  height: 450px; // sync with Components.TimeSeriesChart
}

// timeseries chart
.chart {
  .x-axis {
    .tick {
      font-size: 1em;
    }
  }

  .y-axis {
    .tick {
      font-size: 1.2em;
    }
  }
}

// scores chart
.scores-chart {
  height: 450px; // sync with Components.ScoresChart

  .column {
    &-positive {
      fill: theme-color("success");
    }

    &-negative {
      fill: theme-color("danger");
    }
  }
}


// gameresult chart
.gameresult-chart {
  font-size: $font-size-sm;
  height: 240px; // sync with Components.GameResultChart

  .points {
    white-space: pre;
  }

  .lowscore {
    rect {
      fill: lighten(theme-color("danger"), 10%);
    }
    text {
      fill: $body-color;
    }
  }
  .highscore {
    rect {
      fill: theme-color("success");
    }
    text {
      fill: $body-color;
    }
  }
  .average {
    rect {
      fill: $gray-200;
    }
    text {
      fill: $body-color;
    }
  }
  .average-this-game {
    rect {
      fill: $gray-300;
    }
    text {
      fill: $body-color;
    }
  }
  .score {
    rect {
      fill: theme-color("info");
    }
    text {
      fill: $body-color;
    }
  }
}
