@import './components/icon-button';
@import './components/navbar';
@import './components/footer';
@import './components/avatar';
@import './components/modal';
@import './components/game-list';
@import './components/player_stats';

$facebook-color: #133783;
$google-plus-color: #dd4b39;
$twitter-color: #00acee;

.btn {
  &.btn-facebook {
    background-color: $facebook-color;
    border-color: darken($facebook-color, 10%);

    &:hover,
    &:active {
      background-color: darken($facebook-color, 10%);
      border-color: darken($facebook-color, 10%);
    }

    &:focus {
      color: $white;
    }
  }
  &.btn-google-plus {
    background-color: $google-plus-color;
    border-color: darken($google-plus-color, 10%);

    &:hover,
    &:active {
      background-color: darken($google-plus-color, 5%);
      border-color: darken($google-plus-color, 10%);
    }

    &:focus {
      color: $white;
    }
  }
  &.btn-twitter {
    background-color: $twitter-color;
    border-color: darken($twitter-color, 10%);

    &:hover,
    &:active {
      background-color: darken($twitter-color, 5%);
      border-color: darken($twitter-color, 10%);
    }

    &:focus {
      color: $white;
    }
  }
}

// spinner
.spinner-container {
  position: relative;

  &-full-page {
    margin-top: map_get($spacers, 3);
  }
}

.spinner {
  border: 5px solid #333;
  border-radius: 30px;
  height: 30px;
  left: 50%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 30px;

  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

// live dropdown
.dropdown-menu {
  &.full-width-dropdown {
    width: 100%;
  }

  &.live-dropdown-menu {
    right: 0;
    top: inherit;
    display: block;
    padding: 0;
    overflow: hidden;
    font-size: .9rem;
    margin-left: 0;
    margin-right: 0;

    .dropdown-item {
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
    }
  }
}

// spinner
.spinner-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75%;
}

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-clip-rotate-multiple,
.la-ball-clip-rotate-multiple > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.la-ball-clip-rotate-multiple {
  display: block;
  font-size: 0;
  color: #fff;
  margin: auto;
}

.la-ball-clip-rotate-multiple.la-dark {
  color: $gray-500;
}

.la-ball-clip-rotate-multiple > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.la-ball-clip-rotate-multiple {
  width: 32px;
  height: 32px;
}

.la-ball-clip-rotate-multiple > div {
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 100%;
  -webkit-animation: ball-clip-rotate-multiple-rotate 2s ease-in-out infinite;
  -moz-animation: ball-clip-rotate-multiple-rotate 2s ease-in-out infinite;
  -o-animation: ball-clip-rotate-multiple-rotate 2s ease-in-out infinite;
  animation: ball-clip-rotate-multiple-rotate 2s ease-in-out infinite;
}

.la-ball-clip-rotate-multiple > div:first-child {
  position: absolute;
  width: 32px;
  height: 32px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.la-ball-clip-rotate-multiple > div:last-child {
  width: 16px;
  height: 16px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -o-animation-direction: reverse;
  animation-direction: reverse;
}

.la-ball-clip-rotate-multiple.la-sm {
  width: 16px;
  height: 16px;
}

.la-ball-clip-rotate-multiple.la-sm > div {
  border-width: 1px;
}

.la-ball-clip-rotate-multiple.la-sm > div:first-child {
  width: 16px;
  height: 16px;
}

.la-ball-clip-rotate-multiple.la-sm > div:last-child {
  width: 8px;
  height: 8px;
}

.la-ball-clip-rotate-multiple.la-2x {
  width: 64px;
  height: 64px;
}

.la-ball-clip-rotate-multiple.la-2x > div {
  border-width: 4px;
}

.la-ball-clip-rotate-multiple.la-2x > div:first-child {
  width: 64px;
  height: 64px;
}

.la-ball-clip-rotate-multiple.la-2x > div:last-child {
  width: 32px;
  height: 32px;
}

.la-ball-clip-rotate-multiple.la-3x {
  width: 96px;
  height: 96px;
}

.la-ball-clip-rotate-multiple.la-3x > div {
  border-width: 6px;
}

.la-ball-clip-rotate-multiple.la-3x > div:first-child {
  width: 96px;
  height: 96px;
}

.la-ball-clip-rotate-multiple.la-3x > div:last-child {
  width: 48px;
  height: 48px;
}

/*
 * Animation
 */
@-webkit-keyframes ball-clip-rotate-multiple-rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-moz-keyframes ball-clip-rotate-multiple-rotate {
  0% {
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-o-keyframes ball-clip-rotate-multiple-rotate {
  0% {
    -o-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -o-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -o-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes ball-clip-rotate-multiple-rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}