// colors
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;


$red:    #E74C3C;
$orange: #F39C12;
$yellow: #ffd500;
$green:  #18BC9C;
$blue:   #2C3E50;
$teal:   #5bc0de;
$pink:   #ff5b77;
$purple: #613d7c;
$indigo: #5bc0de;
$cyan: #5bc0de;


$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

// font
$font-family-sans-serif: "Questrial", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$font-size-base: 1rem;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 1.5;
$h3-font-size:                $font-size-base * 1.5;
$h4-font-size:                $font-size-base * 1.3;
$h5-font-size:                $font-size-base * 1.2;
$h6-font-size:                $font-size-base;

// navbar
$navbar-nav-link-padding-x: 2rem;

// forms
$input-border-color: $primary;

// carousel
$carousel-control-color:            $primary !default;
$carousel-indicator-active-bg:      $primary !default;
$carousel-caption-color:            $black !default;

// cards
$card-cap-bg: $light;

// other
$border-radius: 0.125rem;