@import 'bootstrap';
@import 'components';
@import 'tables';
@import 'charts';
@import 'animation';
@import 'typo';

// root font size
html {
  font-size: 16px;
  height: 100%;
  background-color: $light;
}

header {
  z-index: $zindex-sticky;
  position: sticky;
  top: 0;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: env(safe-area-inset-top, 0);
}

main {
  flex: auto;
}

button, input, optgroup, select, textarea {
  font-family: $font-family-sans-serif;
}

dl {
  line-height: 1.2;
}

.cursor-pointer {
  cursor: pointer;
}

/*
[class^="col"] {
  border: 1px solid red;
  overflow: auto;
}
*/

// class for cutting long text
.eclipse-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
}

// version
.version {
  position: fixed;
  left: 1rem;
  bottom: 0;
  color: rgba(0, 0, 0, 0.15);
}